@{
    ViewBag.Title = "Contacts";
}
<h2>@ViewBag.Title:</h2>
<div><p>@ViewBag.Message</p></div>

<address>
    <strong>Nafanua:</strong> <a href="mailto:serjo1984@ramber.ru">serjo1984@ramber.ru</a><br />
    <strong>Sabnock:</strong> <a href="mailto:svg1982@mail.ru">svg1982@mail.ru</a><br />
    <strong>Tojar:</strong> <a href="mailto:matroskin0711@list.ru">matroskin0711@list.ru</a><br />
    <strong>Beggel:</strong> <a href="mailto:beggel@ukr.net">beggel@ukr.net</a>
</address>