@model IMarket.Models.StockViewModel

@{
    ViewBag.Title = "Products out of stock";
}

<h2>Products out of stock</h2>
<hr />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Color</th>
            <th>Received Date</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ItemsOutOfStock)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Color</td>
                <td>@item.DeliveryTime</td>
                <td>@item.Type</td>
            </tr>
        }
    </tbody>
</table>