@using IMarket.DAL

@{
    ViewBag.Title = "Stock";
    Layout = null;
}

<h2>Stock</h2>
<hr />
<h4>Products in stock: <span class="badge badge-secondary" id="stockCount"></span></h4>
<h4>Products Weight: <span class="badge badge-secondary" id="weight"></span></h4>

<table class="table table-bordered" id="stockTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Color</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>

<script>
    $(document).ready(function() {
        const delay = 15000;

        setTable();

        setInterval(function () {setTable()}, delay);
    });

    function setTable() {

        $.getJSON('@Url.Action("GetStockJson", "Home")').done(function(data) {
            const { list } = JSON.parse(data).reduce((acc, cur) => {
                    acc.list.push(cur);
                    return acc;
            }, { list: [] });

            $("#tableBody tr").remove();

            document.getElementById("stockCount").innerHTML = list.length;

            let weight = 0;

            const tableRef = document.getElementById('stockTable').getElementsByTagName('tbody')[0];

            for (let i = 0; i < list.length; i++) {

                weight += list[i].Weight;

                const newRow = tableRef.insertRow(tableRef.rows.length);

                const newCell0 = newRow.insertCell(0);
                const newCell1 = newRow.insertCell(1);
                const newCell2 = newRow.insertCell(2);
                const newCell3 = newRow.insertCell(3);

                const name = document.createTextNode(list[i].Name);
                const count = document.createTextNode(list[i].Count);
                const color = document.createTextNode(list[i].Color);
                const type = document.createTextNode(list[i].Type);

                newCell0.appendChild(name);
                newCell1.appendChild(count);
                newCell2.appendChild(color);
                newCell3.appendChild(type);
            }

            document.getElementById("weight").innerHTML = weight.toFixed(2) + " / " + "@Storage.MaximumStorageCapacity";
        });
    }

</script>


