
@{
    ViewBag.Title = "TabsStockMenu";
}

<ul class="nav nav-tabs" id="myTabs">
    <li class="active"><a dat-toggle="tab" href="#StockId">Stock</a></li>
    <li><a dat-toggle="tab" href="#ErrorSupplyId">Error supply</a> </li>
    <li><a dat-toggle="tab" href="#ErrorSaleId">Error sale</a> </li>
</ul>


<div class="tab-content">
    <div class="tab-pane fade in active" id="StockId" data-clearOnLoad="true">
        @Html.Action("GetStock", "Home")
    </div>
    <div class="tab-pane fade" id="ErrorSupplyId" data-clearOnLoad="true">
        @Html.Action("GetAllItemsOutOfStock", "Home")
    </div>
    <div class="tab-pane fade" id="ErrorSaleId" data-clearOnLoad="true">
        @Html.Action("GetAllItemNotFound", "Home")
    </div>
</div>
@section Scripts{
<script>
    $(document).ready(function () {
        $('#myTabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });
</script>
    }

