@{
    ViewBag.Title = "Home Page";
}

@ViewBag.Start
<div class="jumbotron" style="margin-top: 10px">
    <button type="button" onclick="location.href='@Url.Action("StartWork", "Home")'" class="btn btn-primary">Start Shop</button>
</div>

